<form action="/hair/form" method="POST">
        <label> Hair Type
                <input  type ="text"  aria-placeholder="Employee ID" name ="hairtype">
            </label>
            <label> Length of Hair
                    <input type ="text" aria-placeholder="" name ="length_hair">
                </label>
                <label> date_colored
                        <input type ="text" aria-placeholder="" name ="date_colored">
                    </label>
                    <label> boxDye_salon
                            <input type ="text" aria-placeholder="" name ="boxdye_salon">
                        </label>
                        <label> online_inperson
                                <input type ="text" aria-placeholder="" name ="online_inperson">
                            </label>
                            <label> date_consultation
                                    <input type ="text" aria-placeholder="" name ="date_con">
                                </label>
                        
            <button type ="submit">Log In</button> 

</form>


