h4 {
}

.errorMsg {
	color: rgb(161, 7, 7);
	font-weight: 600;
}

.QuizForm__label {
	display: flex;
	justify-content: center;
	text-align: center;
	text-transform: capitalize;
	align-content: baseline;
	flex-wrap: wrap;
}

.QuizForm {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-family: "Montserrat", sans-serif;
}

.QuizForm-header {
	text-align: center;
	width: 100%;
}

.QuizForm-progressbar {
	position: relative;
	display: flex;
	justify-content: center;
}

.QuizForm_breadcrumbs {
	width: 15px;
	height: 15px;
	background-color: rgb(255, 255, 255);
	border: 1px solid;
	margin-left: 7px;
	margin-right: 7px;
	display: inline-block;
}

.is-active {
	background-color: #facbd3;
}

.QuizForm_breadcrumbs-line {
	width: 119px;
	height: 1px;
	border: 1px solid;
	display: block;
	position: absolute;
	top: 34%;
	z-index: -1;
}

.is-active {
}

.QuizForm-bgBlock {
	padding: 20px;
	margin: 20px;
	border-radius: 500px;
}

.QuizForm-bgBlock__selecttext {
	padding: 10px 15px 0px 15px;
	width: 250px;
	border: 1px solid #d5d1d1;
	margin: 10px;
	font-size: 20px;
}

[type="radio"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

[type="checkbox"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

[type="radio"] + img {
	cursor: pointer;
}

/* CHECKED STYLES */
[type="checkbox"]:checked + .QuizForm-bgBlock__selecttext,
[type="radio"]:checked + .QuizForm-bgBlock__selecttext,
[type="radio"]:checked + .QuizForm-bgBlock {
	background-color: #facbd340;
}

.QuizForm__btn {
	background-color: #fafafa;
	/* width: 100px; */
	/* height: 60px; */
	border: none;

	font-weight: 500;
	text-transform: uppercase;
	/* font-size: 1.2rem; */
	border: 1px solid;
	align-self: flex-end;
	margin: 20px;
	padding: 8px;
}

.QuizForm-bgBlock__selecttext:hover,
.QuizForm-bgBlock:hover {
	background-color: #facbd340;
	border: 1px solid #facbd340;
}

.QuizForm__btn:hover {
	background-color: #333333;
	color: white;
}

.QuizForm__btnBlock {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.QuizForm__btn--single {
	display: flex;
	justify-content: center;
}

@media (min-width: 992px) {
	.QuizForm__btnBlock {
		justify-content: space-between;
	}

	.QuizForm__btn--single {
		justify-content: flex-end;
	}
}

.tempfix {
	display: block;
}

.tempfix-block {
	display: block;
	width: 500px;
}

.hairRoutine-textbox {
	width: 300px;
	height: 100px;
}
