/* -webkit-appearance: none; */
.apptContainer {
    background-color: #c1b7cb;
    height: 450px;
    color: white;
}

.apptTwo {
    background-color: #c1b7cb;
    height: 650px;
    color: white;
}

.apptTwo__forwardground {
    background-color: #837988;
    /* width: 992px; */
    padding: 32px;
    height: 600px;
    top: 17px;
    /* right: -109px; */
    position: relative;

}

.apptContainer--forwardground {
    background-color: #837988;
    /* width: 992px; */
    padding: 32px;
    height: 400px;
    top: 17px;
    /* right: -109px; */
    position: relative;
}

.apptContainer h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid #F95454;
    max-width: 543px;
    padding-bottom: 10px;
    font-weight: 600
}

.apptTwo_h2 {


    border-bottom: 3px solid #F95454;
    max-width: 450px;

    font-weight: 600
}

.appt-marginTop {
    margin-top: 15px;
}



.appt_col {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.appt_selectedOnly {
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    flex-wrap: wrap;
}

.appt_selectedBoxes {
    margin-right: 20px;

}

.apptTwo_form {

    max-width: 720px;
    width: 95%;
}

.apptTwo__container {
    display: flex;
    justify-content: space-between;
}

.apptTwo__container--single {
    display: flex;
    justify-content: flex-end;
}

.appt_inputBoxes--right {
    margin-right: 22px;
}

.apptTwo_form__btn {}

label {
    width: 100%;
}

.appt_inputBoxes input,
.appt_selectedBoxes select {
    padding: 8px 10px 8px 10px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;

}

.appt__confirm {
    max-width: 100%;
    width: 100%;
    background-color: #706774;
}

.appt__confirm__deatils {
    list-style-type: none;
}




.react-datepicker-ignore-onclickoutside,
.react-datepicker__input-container input {
    width: 349px;
    padding: 8px 10px 8px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 4px;
}

.appt_button {
    position: relative;


    background-color: #fafafa;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid;
}

.appt_error {
    position: relative;
    color: rgb(161, 7, 7);
    ;
}


@media (min-width: 992px) {
    .apptContainer {

        height: 350px;
    }

    label {
        width: auto;
    }

    .apptContainer--forwardground {
        height: 300px;
    }

    .appt-marginTop {
        margin-top: 0px;
    }

    .react-datepicker-ignore-onclickoutside,
    .react-datepicker__input-container input {
        margin-top: 15px;
    }

    .apptTwo {
        height: 400px;
    }

    .apptTwo__forwardground {
        height: 350px;
    }

    .appt_inputBoxes input,
    .appt_selectedBoxes select {

        width: 349px;

    }

}