@import url("https://fonts.googleapis.com/css?family=Megrim|Montserrat:100,200,200i,400,500,600,700,800,900&display=swap");

*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

*:focus {
	outline: none !important;
}

html {
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;

	font-size: 16px;
}

a {
	text-decoration: none;
}
