@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");

nav {
}

.navbar-collapse .nav-link {
	font-family: "Montserrat", sans-serif;
}

.navbar {
	border: 1px solid #ededed;
}

.navbar-collapse {
	justify-content: flex-end;
}

.nav .navbar-color {
	font-weight: 36px;
	font-family: "Poiret One", cursive;
	border: 2px solid;
	/* padding: 7px; */
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.nav .navPlace .navset {
	font-size: 15px;
}

/* nav {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    font-size: 15px;

}

nav ul {
    justify-content: space-around;
    display: flex;
    align-items: center;
    list-style: none;
    flex: 0 1 30vw;
}

nav ul li a {
    color: black
}

.logo {
    flex: 0 1 32vw;
    text-align: center;
}

.logo-dem {
    width: 150px;
    height: 100%;
}


.nav-right {
    border: 2px solid black;
    padding: 10px;
} */
