@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');

nav {}

.navbar-collapse .nav-link {
    font-family: "Montserrat", sans-serif;

}

.navbar {}

.navbar-collapse {
    justify-content: flex-end;
}

.nav_logo {
    color: white;
}

.nav_booking {
    border-bottom: 2.5px solid #F95454;
}

.nav_booking:hover {
    background-color: #F95454;

}



.nav .navbar-color {
    font-weight: 36px;

    font-family: 'Quicksand', sans-serif;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav .navbar-color:hover {
    color: white;
    background-color: #F95454;
}

.nav .navPlace .navset {
    font-size: 15px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.nav .navPlace .navset:hover {
    color: white;
    border-bottom: 2.5px solid #F95454;
}

/* nav {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    font-size: 15px;

}

nav ul {
    justify-content: space-around;
    display: flex;
    align-items: center;
    list-style: none;
    flex: 0 1 30vw;
}

nav ul li a {
    color: black
}

.logo {
    flex: 0 1 32vw;
    text-align: center;
}

.logo-dem {
    width: 150px;
    height: 100%;
}


.nav-right {
    border: 2px solid black;
    padding: 10px;
} */