/* The Login Section  */
.signup-box {
	display: flex;
	justify-content: center;
	margin-top: 5rem;

	font-family: "Montserrat", sans-serif;
}

.signup {
	display: flex;
	flex-direction: column;
}

.signup-input {
	outline: 0;
	border: 0;
	border: 1.5px solid #dddddd;
	width: 300px;
	margin-bottom: 1.5rem;
	font-size: 14px;
	padding: 7px;
}

.signup-button {
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	background: #333333;
	color: #ffffff;
	padding: 5px;
	font-size: 0.8rem;
	border-radius: 3px;
	margin-top: 1rem;
}

.signup-header {
	font-size: 1.2rem;

	font-weight: 600;

	width: 300px;
}
