/* The Login Section  */
.signup-box {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.signup {
    display: flex;
    flex-direction: column;

}

.signup-input {
    outline: 0;
    border: 0;
    border-bottom: 1.5px solid #DDDDDD;
    width: 300px;
    margin-bottom: 1.5rem;
    font-size: 15px;
    padding: 10px;

}

.signup-button {
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background: #43484ec5;
    color: #ffffff;
    padding: 5px;
    font-size: 1rem;
    border-radius: 3px;
    margin-top: 1rem;

}

.signup-header {
    font-size: 1.2rem;
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
    width: 300px;
    font-family: 'Baskervville', serif;

}