.DashBoard_Nav {
    display: flex;
    justify-content: space-around;
}

.DashBoard {
    background-color: #837988;
}

.DashBoard__Nav {
    background-color: #c1b7cb;
    color: white;
    padding: 2px 5px 5px 2px;
    margin-top: 15px;
}

.DashBoard_divstBox {
    max-width: 421px;
    display: flex;
    margin: 10px 0px;
}

.DashBoard_HeaderText {}

.DashBoard_button {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
}

.DashBoard_divst_label {
    width: 150px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    color: white;
}

.DashBoard_comm_label {
    display: inline-block;
    margin-right: 10px;
    color: white;

}

.DashBoard_divstBox select .DashBoard_divstBox button {
    margin-left: 10px;
}

.DashBoard_divstBox textarea,
.DashBoard_divstBox select {
    width: 250px;
    text-transform: capitalize;
    flex: auto;
}

.AppointmentsBox {
    display: flex;
}

.tableBox h5 {
    color: white;
    text-align: left;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tableBox .tableAppt {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: none;
    border-collapse: collapse;
    outline: none;
    color: white;
}

.tableBox .tableAppt_th,
.tableBox .tableAppt,
.tableBox .tableAppt_tr,
.tableBox .tableAppt_td {
    border: none;
    border-collapse: collapse;
    outline: none;
}

.tableBox .tableAppt_td {
    padding: 5px;
}

.tableAppt_td a {
    color: black;
    text-decoration: none;
}

.DashBoard_Fix .react-datepicker-ignore-onclickoutside,
.DashBoard_Fix .react-datepicker__input-container input {

    padding: 0px;
    margin: auto;

    display: inline-block;
    text-align: left;
    margin-right: 20px;

    border-radius: 0px;
    width: 200px;
    text-transform: capitalize;
    flex: auto;
    padding: 5px;

}

.DashBoard_Comment {
    max-width: 100%;
    margin-bottom: 20px;
}

.DashBoard_Comment_Form {
    display: flex;
}

.DashBoard_CommentArea {
    background-color: #5c5560;
    color: white;
    margin-bottom: 15px;
}

.DashBoard_CommentView {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}


.Comm__btn {
    background-color: #fafafa;

    border: none;
    font-weight: 500;
    text-transform: uppercase;

    border: 1px solid;
    align-self: flex-end;

}